/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One|Meow+Script|Sacramento");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  /* line-height: 1; */
}

body {
    background-color: white;
    text-align: center;

}

.mainPage {
  display: grid;
  justify-items: center;
}

.mainPage--header {
  font-family: "Sacramento";
  font-size: 8rem;
  margin: 0;
}

.subPage {
  display: grid;
  align-items: right;
}



.subPage--requestButton {
    height: 5rem;
    width: 20rem;
    background-color: rgb(252, 252, 252);
    color: #c89db8;
    font-size: 2rem;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10rem;
    box-shadow: 3px 3px 5px 0px rgb(235, 235, 235);
    margin-bottom: 1rem
}

.subPage--requestButton:hover {
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}

.right {
  align-items: right
}


.header {
  font-family: "Sacramento";
  font-size: 8rem
}

.subheader {
  font-family: "Sacramento";
  font-size: 6rem
}

.requestButton {
  height: 10rem;
  width: 30rem;
  background-color: rgb(252, 252, 252);
  color: #c89db8;
  font-size: 2rem;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10rem;
  box-shadow: 3px 3px 5px 0px rgb(235, 235, 235);
  margin-bottom: 1rem
}

.center {
  text-align: center;
  
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

.subpage--header {
  font-family: "Comfortaa";
  font-size: 2rem;
  text-align: left
}
.subpage--section {
  padding-left: 10rem;
  padding-right: 10rem;
  align-content: left;
}

.subpage--article {
  text-align: left;
  padding-left: 3rem
  
}

p {
  margin-bottom: 1.5em;
}

.title--main {
  /* margin-block-end: 0; */
}

.employees {
  display: flex;
  flex-wrap: wrap;
  justify-items: space-evenly;
  flex-basis: 1em;
}
.employeeCard {
  padding: 10px;
  margin: 10px;
  width: 400px;
  box-shadow: 3px 3px 5px 0px rgb(235, 235, 235);
  background-color: rgb(252, 252, 252);
  padding: .4rem
}

.employeeList {
	/* justify-content: space-evenly; */
  background-color: white;  
  border: 1px dotted black;
  border-radius: 5px;
}
.employeeImg {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 300px
}

.employeeLink {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 1000;
}

.employee--detail {
  margin: 1rem
}
.employee__header {
  font-family: "Comfortaa";
  font-size: 2rem;
  text-align: center
}
.employee {
  width: 100vw
}

.educationLink {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 1000;
}

.request {
  margin-top: 1rem
}

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  margin-top: 1rem;
	width: 100%;
	font-family: "Raleway", Arial, sans-serif;
	color: rgb(255, 255, 255);
	letter-spacing: 2px;
	background-color: #c89db8;
  box-shadow: 3px 3px 5px 0px rgb(235, 235, 235);
	padding-top: 5px;
	padding-bottom:5px
}

.footerContent{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 12px;
}