/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One|Meow+Script|Sacramento");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  /* line-height: 1; */
}

body {
    background-color: white;
    text-align: center;

}

.mainPage {
  display: grid;
  justify-items: center;
}

.mainPage--header {
  font-family: "Sacramento";
  font-size: 8rem;
  margin: 0;
}

.subPage {
  display: grid;
  
}



.subPage--requestButton {
    height: 5rem;
    width: 20rem;
    background-color: rgb(252, 252, 252);
    color: #c89db8;
    font-size: 2rem;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10rem;
    box-shadow: 3px 3px 5px 0px rgb(235, 235, 235);
    margin-bottom: 1rem
}

.subPage--requestButton:hover {
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}

.right {
  align-items: right
}


.subpage--header {
  font-family: "Sacramento";
  font-size: 8rem;
  
}

.subheader {
  font-family: "Sacramento";
  font-size: 6rem
}

.requestButton {
  height: 10rem;
  width: 30rem;
  background-color: rgb(252, 252, 252);
  color: #c89db8;
  font-size: 2rem;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10rem;
  box-shadow: 3px 3px 5px 0px rgb(235, 235, 235);
  margin-bottom: 1rem
}

.center {
  text-align: center;
  
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

.subpage--header {
  font-family: "Comfortaa";
  font-size: 2rem;
  text-align: left
}
.subpage--section {
  padding-left: 10rem;
  padding-right: 10rem;
  align-content: left;
}

.subpage--article {
  text-align: left;
  padding-left: 3rem
  
}

p {
  margin-bottom: 1.5em;
}

.title--main {
  /* margin-block-end: 0; */
}

.employees {
  display: flex;
  flex-wrap: wrap;
  justify-items: space-evenly;
  flex-basis: 1em;
}
.employeeCard {
  padding: 10px;
  margin: 10px;
  width: 400px;
  box-shadow: 3px 3px 5px 0px rgb(235, 235, 235);
  background-color: rgb(252, 252, 252);
  padding: .4rem
}

.employeeList {
	/* justify-content: space-evenly; */
  background-color: white;  
  border: 1px dotted black;
  border-radius: 5px;
}
.employeeImg {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
  border-radius: 20rem
}

.position-absolute {
  position: absolute !important;
}

.color-bg-default {
  background-color: white !important;
}

.rounded-2 {
  border-radius: var(--primer-borderRadius-medium, 6px) !important;
}

.color-fg-default {
  color: var(--color-fg-default) !important;
}

.py-1 {
  padding-top: var(--base-size-4, 4px) !important;
  padding-bottom: var(--base-size-4, 4px) !important;
}

.left-0 {
  left: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.ml-2 {
  margin-left: 20px;
}
.mb-2 {
  margin-bottom: 20px !important;
}

.border {
  border: var(--primer-borderWidth-thin, 1px) solid gray !important;
}
.px-2 {
    padding-right: var(--base-size-8, 8px) !important;
    padding-left: var(--base-size-8, 8px) !important;
}
.profileImage {
  position: relative;
}

.siteLinks {
  color: black;
  text-decoration: none
}

/* .profileImage::after {
  content: "Edit";
  position: absolute;
  top: 80px;
  white-space: pre;
  right: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
} */
.profileCard {
  display: flex;
    justify-content: left;
    align-items: center;
    margin: 1rem
}

.subpage--profile{
  margin: 2rem
}

.employeeLink {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 1000;
}

.employee--detail {
  margin: 1rem
}
.employee__header {
  font-family: "Comfortaa";
  font-size: 2rem;
  text-align: center
}
.employee {
  width: 100vw
}

.educationLink {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 1000;
}

#content-wrap {
  padding-bottom: 4rem;
}
.request {
  margin-top: 1rem;
  
}
.root {
  position: relative;
  min-height: 100vh;
}

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  position:fixed;
  margin-top: 1.5rem;
  bottom: 0;	
  width: 100%;
  height: 1.5rem;
	font-family: "Raleway", Arial, sans-serif;
	color: rgb(255, 255, 255);
	letter-spacing: 2px;
	background-color: #c89db8;
  box-shadow: 3px 3px 5px 0px rgb(235, 235, 235);
	padding-top: 5px;
	padding-bottom:5px
}

.footerContent{
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 12px;
}