.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    background-color: #c89db8;
    box-shadow: 3px 3px 5px 0px rgb(235, 235, 235);

}

.navbar__item {
    font-weight: bold;
    flex-basis: 20%;
    list-style-type: none;
    color: white
}

.navbar__link {
    color: white;
    text-decoration: none
}

.navbar__logout {
    margin-left: auto;
}

.accountButton {
    margin: 10px
}

